body {
    font-family: Arial;
    text-align: center;
    margin: 0;
}

.controls {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2196f3;
    color: white;
}

#map {
    height: 500px;
    width: 90%;
    margin: 20px auto;
}

#riskBox {
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: lightgreen;
    transition: 0.3s;
}

#legend {
    background: white;
    padding: 10px;
    width: 200px;
    margin: 10px auto;
    border-radius: 8px;
}

.leaflet-interactive {
    filter: drop-shadow(0 0 6px rgba(255,0,0,0.7));
}

/* Intro Screen */
#introScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #111, #1a1a1a);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 1s ease 3s forwards;
}

#introScreen h1 {
    font-size: 45px;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px #ff4081; }
    to { text-shadow: 0 0 20px #ff80ab; }
}

@keyframes fadeOut {
    to { opacity: 0; visibility: hidden; }
}